@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { scroll-behavior: smooth; }
  body { @apply bg-slate-50 text-slate-800; }
}

@layer components {
  /* Botão Amarelo Profissional */
  .btn-primary {
    @apply bg-yellow-500 text-slate-900 font-bold py-3 px-6 rounded hover:bg-yellow-400 transition-colors uppercase text-sm tracking-wider;
  }
  
  /* Input Padrão */
  .input-std {
    @apply w-full px-4 py-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent;
  }
}